.form {
    min-width: 75%;
    display: flex;
    border: 2px solid #267d1b;
    border-radius: 5px;
    padding: 1em;
    column-gap: 10px;
    align-items: center;
}

.input {
    flex-grow: 1;
    height: 30px;
}